.account {
  margin: 50px;
}

.top-account {
  display: flex;
  align-items: flex-start;
  margin-top: 34px;
  margin-left: 34px;
}

.top-left {
  padding-top: 20px;

  .fa-user {
    font-size: 80px;
    padding-left: 20px;
  }
}

.avatar-large {
  width: 100px;
  border-radius: 50%;
}

.profile-link {
  padding: 10px 0px 0px 10px;
}

.password-link {
  padding-left: 10px;
}

.top-right {
  height: 300px;
  padding: 20px 0px 0px 60px;

  h2 {
    color: #DB6400;
  }

  h3 {
    font-weight: normal;
    text-align: left;
    padding-top: 30px;
    font-size: 20px;
  }
}

#account-tab {
  width: 100%;
}

.booking-card {
  display: flex;
  width: 100%;
}

.booking-details {
  padding-bottom: 5px;

  p {
  font-size: 14px;
  padding-top: 0!important;
  margin: 0 auto;
  }
}

.booking-name {
  color: #007965;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}

.links {
  display: flex;
  justify-content: space-around;
}

.address {
  display: flex;
  padding-left: 20px;

  h4 {
    padding-left: 5px;
  }
}

.fas {
  color:#007965;
}
