// Specific CSS for your home-page
.large-card {
  justify-content: space-evenly;
  text-align: center;
  background-color: #f9f9f9;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;

  h2 {
    line-height: 1.5;
    padding: 2px;
    color: #007965;
  }

  p {
    line-height: 1.5;
    padding: 2px;
  }
}

.icon-row {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.carousel-images {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-text {
  position: relative;
  text-align: center;

  img {
    padding: 10px;
    height: 500px;
    width: 400px;
    object-fit: cover;
  }
}

.text-group {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.name {
  font-weight: bold;
  font-size: 25px;
}

.location {
  font-size: 20px;
}

.small-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px
}

.small-card {
  padding: 10px;
  height: 400px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
