// Specific CSS for your home-page

.large-card {
  justify-content: space-evenly;
  text-align: center;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;

  h2 {
    line-height: 1.5;
    padding: 2px;
    color: #007965;
  }

  p {
    line-height: 1.5;
    padding: 2px;
  }
}

.banner-text {
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

.icon-row {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.image-group {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.list-space-image img {
  padding: 10px;
  height: 500px;
  width: 400px;
  object-fit: cover;
}

.small-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px
}

.small-card {
  padding: 10px;
  height: 400px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
