// Specific CSS for your home-page
.large-card {
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 100px 0px 100px;

  h2 {
    line-height: 1.5;
    padding-top: 10px;
    color: #393e46;
    font-weight: bold;
  }

  p {
    line-height: 1.5;
    padding: 2px;
    color: grey;
    font-weight: bold;
  }
}

#icons-list {
  background-color: white;
  padding-bottom: 40px;

  .btn-warning {
    margin-top: 20px;
  }
}

#second-carousel {
  background-color: black;

  .carousel-inner {
    top: -45px;
  }

  h2 {
    color: white;
  }

  .btn-warning {
    background-color: $my-green;
    border: none;
    margin-bottom: 30px;
  }
}

.icon-row {
  display: flex;
  justify-content: space-evenly;

  .fa {
    width: 200px;
    font-size: 80px;
    color: $my-green;
    padding: 30px;
  }

  .fas {
    width: 200px;
    font-size: 80px;
    color: $my-green;
    padding: 30px;
  }
}

.carousel-images {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-text {
  position: relative;
  text-align: center;

  img {
    padding: 10px;
    height: 500px;
    width: 400px;
    object-fit: cover;
  }
}

.text-group {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.name {
  font-weight: bold;
  font-size: 25px;
}

.location {
  font-size: 20px;
}

.small-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px
}

.small-card {
  padding: 10px;
  height: 400px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
