.host-container {
  display: flex;
  padding: 30px;
}

.host-container h2 {
  color: $my-green;
  font-size: 42px;
  font-weight: bold;
}

h3 {
  color: $my-green;
  text-align: center;
}

.host-text {
  margin-right: 70px;
  margin-top: 70px;
  margin-left: 30px;
  padding: 38px;
}

.host-image {
  margin-top: 20px;

  img {
  width: 900px;
  height: 500px;
  }
}

.second-host-image img {
  width: 600px;
  height: 800px;
}

.host-rules-text {
  padding: 30px 100px 30px 100px;
  text-align: justify;
}
