.show-images {
  display: flex;
}

.big-image img {
  padding-top: 10px;
  height: 450px;
  width: 800px;
  object-fit: cover;
}

.small-images {
  display: flex;
  flex-direction: column;

  img {
    height: 230px;
    width: 400px;
    object-fit: cover;
    justify-content: space-evenly;
    padding: 10px;
  }
}

.second-container {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 30px;
}

.leftside {
  flex-direction: column;
  width: 820px;
  padding-right: 16px;
}

.info {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.workspace-info h2 {
  color: #DB6400;
  font-weight: bolder;
  font-size: 44px;
  font-family: "Roboto";
}

.workspace-info p {
  font-size: 24px;
  font-family: "Roboto";
  color: #56555D;
}

.price p {
  width: 100px;
  height: 100px;
  line-height: 2.8;
  border-radius: 50%;
  background-color: white;
  color: #007965;
  border: 2px solid #007965;
  position: absolute;
  text-align: center;
  top: 555px;
  right: 520px;
  font-size: 32px;
}

.show-buttons {
  padding-top: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 30px;
}

.bookingform {
  width: 300px;
  height: 400px;
  margin-right: 35px;
  font-size: 16px;
  border: 1px solid #DB6400;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}

