.top-container {
  display: flex;
}

.large-image {
  position: relative;
}

.top-leftside img {
  padding-top: 10px;
  height: 450px;
  width: 800px;
  object-fit: cover;
}

.top-rightside {
  display: flex;
}

.small-images img {
  height: 230px;
  width: 400px;
  object-fit: cover;
  justify-content: space-evenly;
  padding: 10px;
}

.second-container {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  padding: 30px;
}

.workspace-show-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100px;

  #favourite {
  position: absolute;
  top: 32px;
  left: 96px;
  }
}

.host-avatar img {
  height: 60px;
  width: 70px !important;
  border-radius: 10% !important;
  object-fit: cover !important;
  opacity: 0.6 !important;
  transition: opacity 0.3s !important;
  position: absolute;
  top: 12px;
  left: 12px;
}

.host-avatar img:hover {
  opacity: 1 !important;
}


.leftside {
  flex-direction: column;
  width: 820px;
  padding-right: 16px;
}

.info {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.workspace-info h2 {
  color: #DB6400;
  font-size: 44px;
  font-weight: lighter;
}

.workspace-info p {
  font-size: 24px;
  color: #56555D;
}

.price-text p {
  width: 100px;
  height: 100px;
  line-height: 2.8;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  color: #007965;
  border: 2px solid #007965;
  position: absolute;
  text-align: center;
  top: 432px;
  right: 480px;
  font-size: 32px;
}

.show-buttons {
  padding-top: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 30px;
}

.bookingform {
  width: 334px;
  height: 480px;
  margin-left: 50px;
  font-size: 16px;
  border: 1px solid #DB6400;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 10px;
}

.input {
  padding: 30px;
}

.price-target {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: rgb(14,1,1);
  position: relative;
  bottom: 15px;
  padding-top: 30px;
}

.price-target:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.hidden {
  display: none;
}

