.workspaces {
  display: flex;
  width: 100%;
  margin: 20px;
  background-color: #F4F4F4;
}

.workspaces-leftside {
  width: 50%;
  background-color: #F4F4F4;
}

.workspaces-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
}

.workspaces-rightside {
  width: 50%;
  position: sticky;
  top: 0;
  height: 100vh;
  padding-right: 20px;
}

.card-icons img {
  object-fit: cover;
  height: 40px;
  width: 40px;
}
