.business-title {
  padding: 40px;

  h2 {
    color: $my-orange;
    text-align: center;
  }
}

.membership-card {
  display: flex;
  justify-content: space-between;
  height: 370px;
}

.business-text {
  height: 370px;
  width: 400px;
  margin-right: 100px;

  h3 {
  color: $my-green;
  }
}

.business-image img {
    object-fit: cover;
    height: 315px;
    width: 540px;
}
