<div class="container">
  <div class="top">
    <div class="show-images">
      <div class="big-image">
        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTM3fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="office room">
      </div>
      <div class="small-images">
        <div class="img-small">
          <img src="https://images.unsplash.com/photo-1502672023488-70e25813eb80?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTM5fHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="office room">
        </div>
        <div class="img-small">
          <img src="https://images.unsplash.com/photo-1502672181484-237060496ec7?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTM4fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="office room">
        </div>
      </div>
    </div>
  </div>
  <div class="leftside">
    <div class="info">
      <div class="workspace-info">
        <h2><%= @workspace.name %></h2>
        <p> <%= @workspace.city %> <%= @workspace.postcode %> </p>
        <!-- rating here -->
      </div>
      <div class="price">
          <p>£5<%=@workspace.price %> </p>
      </div>
    </div>
    <div class = "bottom">
    </div>
  </div>

  <div class="rightside">

  </div>
</div>
