<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <%= link_to "Privacy Policy", privacy_path %>
    <%= link_to "Terms and Conditions", terms_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Support", support_path %>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"> MyPlace Workspace</i>
  </div>
</div>
