<div class="home-banner">
  <%= image_tag "about-banner.jpg" %>
</div>
<div class="container">
  <div class="about-title">
    <h2>Some kind of strapline here - placeholder</h2>
    <h3>Who We Are</h3>
    <div class="about-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
      Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
      Et tortor consequat id porta. Interdum velit euismod in pellentesque. Volutpat commodo sed egestas egestas fringilla.
      Lectus vestibulum mattis ullamcorper velit. A pellentesque sit amet porttitor eget dolor morbi non.
      Eu facilisis sed odio morbi quis. Enim sit amet venenatis urna.</p>
      <p>Aliquam sem fringilla ut morbi. Porttitor lacus luctus accumsan tortor.
      Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
      Donec massa sapien faucibus et molestie ac feugiat sed.
      Placerat orci nulla pellentesque dignissim. Tortor at auctor urna nunc id cursus metus.
      Viverra accumsan in nisl nisi scelerisque eu ultrices.
      Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum.
      Cursus in hac habitasse platea dictumst. Nibh venenatis cras sed felis eget.
      Condimentum vitae sapien pellentesque habitant. Eu lobortis elementum nibh tellus.</p>
      <p>Viverra orci sagittis eu volutpat odio facilisis mauris. Vivamus arcu felis bibendum ut tristique et egestas.
      Varius sit amet mattis vulputate enim nulla aliquet porttitor.
      Neque volutpat ac tincidunt vitae semper quis lectus.
      Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.
      Eleifend mi in nulla posuere sollicitudin. Velit sed ullamcorper morbi tincidunt.
      Aliquam malesuada bibendum arcu vitae elementum curabitur. Fermentum iaculis eu non diam.
       Mi eget mauris pharetra et ultrices neque ornare. Iaculis nunc sed augue lacus viverra.</p>
    </div>
  </div>
</div>
