<div class="container">
  <div class="about-title pt-4">
    <h2>How we work is changing</h2>
    <div class="about-text">
      <p>Our working lives were upended during the Covid-19 pandemic. Offices were out, working from home was in. With many organisations announcing that they would give up office space in the long term, we realised that how we work had changed forever.
        Whilst there were some things about office life that we couldn’t replace, there were others that we were glad to relinquish. We discovered that relentless commuting, office politics and constant workplace distractions had ground us down, and that there could be another way which could improve our wellbeing and give us a better work-life balance.</p>
        <p>However, working from home comes with its own issues. Finding the right physical and mental space can be hard when dealing with flatmates, family life, loneliness, or lack of motivation. The laundry needs to be done, that show is just waiting, your work is ever present, you end up working late into the night. The end result is that you feel isolated and burned out.</p>
        <p>MyPlace workspace was born when we realised that we could solve people’s workspace problems by matching space in people’s homes with the needs of individuals in order to make work-life balance a reality. Whether they need a quiet space to work or make calls, or a kitchen table community of like-minded people, we aim to ensure that when we work, we do so in the most productive, comfortable and enjoyable environment.</p>
        <p>Ultimately, myPlace workspace aims to reclaim our mental health and wellbeing, as well as being better for the environment and our local communities.</p>
    </div>
  </div>
</div>
