<div class="host-container">
  <div class="host-text">
    <h2>Become a host</h2>
    <p>Build a work community close to home</p>
    <%= link_to "Sign up here!", new_workspace_path, class:"btn btn-warning" %>
  </div>
  <div class="host-image">
    <%= image_tag "host.jpg" %>
  </div>
</div>
  <div class="host-container">
    <div class="second-host-image">
      <%= image_tag "host-values.jpg" %>
    </div>
    <div class="host-rules-text">
      <h3>Our Values</h3>
      <p>Before becoming a host, please read our community values agreement – this asks you to abide by our non-discrimination and anti-harassment policies. We take these values seriously and will ask you to leave if we judge that you have not adhered to them.</p>
      <h3>Your security</h3>
      <p>For your peace of mind, when you rent your space through our platform, you are covered by our limited liability insurance. Additionally, you can read profiles and reviews of guests and you have the opportunity to message with them privately before you accept bookings.</p>
      <h3>Your responsibilities</h3>
      <p>We ask you to carefully read our terms and conditions so that you fully understand your responsibilities as a host.</p>
    </div>
  </div>
