<div class="host-container">
  <div class="host-text">
    <h2>Become a host</h2>
    <p>Rent your space to people in your local community</p>
    <%= link_to "Sign up here!", new_workspace_path, class:"btn btn-warning" %>
  </div>
  <div class="host-image">
    <%= image_tag "host.jpg" %>
  </div>
</div>
  <div class="host-container">
    <div class="second-host-image">
      <%= image_tag "host-values.jpg" %>
    </div>
    <div class="host-rules-text">
      <h3>Our Values</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
          Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
          Et tortor consequat id porta.</p>
      <h3>Insurance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
          Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
          Et tortor consequat id porta.</p>
      <h3>Due dilligence</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Dignissim cras tincidunt lobortis feugiat. Volutpat commodo sed egestas egestas fringilla.
          Ut faucibus pulvinar elementum integer enim neque volutpat. At tempor commodo ullamcorper a lacus vestibulum sed arcu.
          Et tortor consequat id porta.</p>
    </div>
  </div>
