<div class="large-card">
  <h2>Become a business member!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="small-container">
      <div class="small-card">
        <h2>Bronze Membership</h2>
      </div>
      <div class="small-card">
        <h2>Silver Membership</h2>
      </div>
      <div class="small-card">
        <h2>Gold Membership</h2>
      </div>
  </div>
  <%= link_to "Sign up here!", root_path, class: "btn btn-warning" %>
</div>
