.home-banner {
  background-size: cover;
  background-position: center;

  img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}

.banner-text {
  margin: 0;
  color: white;
  text-shadow: 4px 1px 3px rgba(0,0,0,0.7);
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.banner-text h3 {
  margin-top: 30px;
  font-size: 50px;
  justify-content: center;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 175px;
}

.button {
  display: flex;
  justify-content: center;
}

.text-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.taglines h2 {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 35px;
  margin-left: 641px;
}

#flow {
  margin-left: 942px!important;
}

#better {
  margin-left: 942px!important;
}
