.home-banner {
  background-size: cover;
  background-position: center;

  img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}

.banner-text {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.banner-text h3 {
  margin-top: 30px;
  font-size: 40px;
  justify-content: center;
  font-weight: bolder;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
}

.text-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
