.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #000000;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: grey;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
