.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 5px 10px 5px 10px;
  background-color: #ECEAFC;
  color: #007965;
  border: 1px solid #007965;
  margin: 4px 20px 4px 6px;
}

.tag-selector:checked + label {
  background-color: #007965;
  color: white;
}

.filter-form {
  background-color: white;
  margin-left: 16px;
  width: 666px;
  height: 160px;

  .btn {
    margin-top: 70px;
    margin-right: 10px;
    padding: 10px 30px 10px 30px;
    border-radius: 50rem;
    color: white;
  }
}

.form-top {
  display: flex;
  border-bottom: 1px solid hsla(0,0%,59.2%,.3);
  height: 46px;
}

.filter-flex {
  display: flex;
  padding-top: 20px;
}

.filter-left {
  margin-right: 20px;
  margin-left: 10px;
}

#index_search_search_city {
    border: 1px solid white;
    border-right: 1px solid hsla(0,0%,59.2%,.3);
    font-size: 18px;
    margin-left: 27px;
 }

 #index_search_search_distance {
    border: 1px solid white;
    font-size: 18px;
    padding-left: 20px;
    width: 150px;
    margin-right: 50px;
    border-left: 1px solid rgba(151, 151, 151, 0.3);
 }


.col-form-label {
  color: white;
  font-size: 1px;
  margin: 0px;
  padding: 0px;
}

.amenities-line {
  display: block;
  padding: 8px 30px 20px 30px;
}
