.mapboxgl-popup {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
}

.mapboxgl-popup a:hover {
  text-decoration: none;
}

.mapboxgl-popup-content {
  border: 5px solid rgba(0,0,0,0.1);
  text-align: center;
  h2, p {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }
}
.mapboxgl-popup-close-button {
  text-decoration: none;
  color: #FFFFFF;
}


