.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  padding: 4px;
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
}

.logo h2 {
  color: #DB6400;
}

.logo p {
  color: #007965;
  line-height: 0;
}

.fa-home {
  padding-top: 10px;
}

.text-link {
  display: flex;
  padding-top: 8px;
  padding-right: 10px;
}

.nav-item .host-link {
    font-weight: bold;
}

#navbarDropdown {
    color: grey;
    padding-top: 12px;
}



