.tabs {
  padding-top: 30px;
}

.tab-content {
  width: 100%;
  height: 500px;
  overflow: scroll;
  background-color: white;
  color: black;
}

.nav-pills .nav-link.active {
  background-color: $my-green;
  border-radius: 2px;
}

.tab-content #pills-home {
  padding: 30px;
}

a {
  text-decoration: none;
  color: $my-orange;
}

a:hover {
  text-decoration: none;
  color: $my-green;
}

.list-amenities {
  display: flex;
  margin: 40px 5px 5px 5px;
  justify-content: space-between;

  p {
    margin-top: 1rem;
  }
}

.tab-icons {
  padding: 0px;

  .fas {
    font-size: 35px;
  }
}
