.tabs {
  padding-top: 30px;
}

.tab-content {
  width: 100%;
  height: 500px;
  overflow: scroll;
  background-color: white;
  color: black;
}

.nav-pills .nav-link.active {
  background-color: #007965;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #DB6400;
}

a:hover {
  text-decoration: none;
  color: #007965;
}
